# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

In [2]:
# Your code here:
salaries_df = pd.read_csv("Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
salaries_df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
missing_data = salaries_df.isnull().sum()
missing_data

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
value_counts = salaries_df['Salary or Hourly'].value_counts()
print(value_counts)

Salary    25528
Hourly     8174
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
department_counts = salaries_df.groupby('Department')['Name'].count().reset_index()
department_counts.columns = ['Department', 'Employee Count']
department_counts

             Department  Employee Count
0          ADMIN HEARNG              38
1         ANIMAL CONTRL              75
2              AVIATION            1856
3     BOARD OF ELECTION             111
4       BOARD OF ETHICS               8
5         BUDGET & MGMT              44
6             BUILDINGS             258
7      BUSINESS AFFAIRS             167
8            CITY CLERK              88
9          CITY COUNCIL             362
10                 COPA             123
11     CULTURAL AFFAIRS              74
12                 DAIS            1033
13         DISABILITIES              28
14     FAMILY & SUPPORT             656
15              FINANCE             544
16                 FIRE            4627
17               HEALTH             467
18              HOUSING              66
19   HOUSING & ECON DEV             154
20      HUMAN RELATIONS              17
21      HUMAN RESOURCES              75
22        INSPECTOR GEN              95
23                  LAW             398
24    LICENSE APPL COMM               1
25       MAYOR'S OFFICE             104
26                 OEMC            1737
27               POLICE           13848
28         POLICE BOARD               2
29          PROCUREMENT              84
30       PUBLIC LIBRARY            1088
31  PUBLIC SAFETY ADMIN             244
32        STREETS & SAN            2175
33           TRANSPORTN            1113
34            TREASURER              28
35          WATER MGMNT            1914

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [7]:
# Your code here:
#from scipy.stats 
from scipy.stats import ttest_1samp

#H0: The mean hourly wage of workers = 30$/h
#H1: The mean hourly wage of workers <> 30$/h

In [8]:
# Extract the non-NaN hourly rates
hourly_rates = salaries_df['Hourly Rate'][salaries_df['Hourly Rate'].notna()]
hourly_rates

2        13.00
5        37.45
15       40.78
16       38.52
21       34.98
         ...
33676    25.95
33678    43.72
33681    51.43
33684    49.35
33688    37.45
Name: Hourly Rate, Length: 8174, dtype: float64

In [9]:
from scipy.stats import ttest_1samp

In [10]:
hourly_wage = salaries_df[salaries_df['Salary or Hourly'] == 'Hourly']['Hourly Rate']
t_stat, p_value = ttest_1samp(hourly_wage, 30)
alpha = 0.05 #95% confidence level

print('stat is  ', t_stat)
print('pvalue for the two-tailed test is ', p_value)

# to see if the p-value is below the significance level
if p_value < alpha:
    print("Reject the null hypothesis (hourly wage is significantly different from $30/hr)")
else:
    print("Fail to reject the null hypothesis (hourly wage is not significantly different from $30/hr)")

stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202
Reject the null hypothesis (hourly wage is significantly different from $30/hr)

In [11]:
#The p value is very low so we can reject the H0, what means that the hourly wage is differente than $30

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [12]:
#H0: hourly workers =< 30$/h
#H1: hourly workers > 30$/h

In [13]:
# Your code here:
police_salaries = salaries_df[(salaries_df['Salary or Hourly'] == 'Salary') & (salaries_df['Department'] == 'POLICE')]['Annual Salary']
t_stat, p_value = ttest_1samp(police_salaries, 86000)
alpha = 0.05 #95% confidence level

print('stat is  ', t_stat)
print('pvalue for the two-tailed test is ', p_value)

if p_value / 2 < alpha and t_stat > 0:
    print("Reject the null hypothesis (police salaries are signicantly higher than $86,000/year)")
else:
    print("Fail to reject the null hypothesis (police salaries are not significantly higher than $86,000/year)")

stat is   18.51748561981861
pvalue for the two-tailed test is  1.2239133904242963e-75
Reject the null hypothesis (police salaries are signicantly higher than $86,000/year)

In [14]:
#our p is much lower than 0.05 but we cannot reject the null hypothesis because H0 says it can be equal or less. We know it's not = but it's most likely <30

Using the `crosstab` function, find the department that has the most hourly workers.

In [15]:
data_crosstab = pd.crosstab(salaries_df['Department'], salaries_df['Salary or Hourly'], margins = False)
data_crosstab
department_with_most_hourly_workers = data_crosstab.idxmax()
department_with_most_hourly_workers
#we can see that the Streets & San department have the most hourly workers

Salary or Hourly
Hourly    STREETS & SAN
Salary           POLICE
dtype: object

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [16]:
# Your code here:
# H0: hourly workers =< 35$/h
# H1: hourly workers > 35$/h
import scipy.stats as stats
import scipy.stats

street = salaries_df[(salaries_df['Department'] == 'STREETS & SAN')]
street.head()

hourly_rate = street['Hourly Rate'][street['Hourly Rate'].notna()]


confidence_level = 0.95
degrees_freedom = len(hourly_rate) - 1
sample_mean = np.mean(hourly_rate)
sample_standard_error = stats.sem(hourly_rate)
 
#hourly_rate
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

stat, pval = ttest_1samp(hourly_rate, 35)
print('stat is  ', t_stat)
print('pvalue for the two-tailed test is ', p_value/2)

stat is   18.51748561981861
pvalue for the two-tailed test is  6.119566952121482e-76

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [17]:
import scipy.stats as stats

hourly_wage = salaries_df[salaries_df['Salary or Hourly'] == 'Hourly']['Hourly Rate']

confidence_level = 0.95    #mas existem 5% de probabilidade que o nosso mean náo esteja dentro deste intervalo de confiança
degrees_freedom = len(hourly_wage) - 1  # or, for large values of sample size, just use that
sample_mean = hourly_wage.mean()
sample_standard_error = stats.sem(hourly_wage)
 

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [18]:
import scipy.stats as stats

police_salary = salaries_df[(salaries_df['Salary or Hourly'] == 'Salary') & (salaries_df['Department'] == 'POLICE')]['Annual Salary']

confidence_level = 0.95    #mas existem 5% de probabilidade que o nosso mean náo esteja dentro deste intervalo de confiança
degrees_freedom = len(police_salary) - 1  # or, for large values of sample size, just use that
sample_mean = police_salary.mean()
sample_standard_error = stats.sem(police_salary)
 

confidence_interval = stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
confidence_interval

(88534.1182885883, 89134.11955863392)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [19]:
# Your code here:
import statsmodels.api as sm
import numpy as np

# H0:The proportion of hourly workers is significantly differen from 25%
# H1:The proportion of hourly workers is not significantly differen from 25%

observed_hourly = len(salaries_df[salaries_df['Salary or Hourly'] == 'Hourly'])
total_workers = len(salaries_df)

null_hypothesis = 0.25
stat, p_value = sm.stats.proportions_ztest(observed_hourly, total_workers, 0.25)

confidence_level = 0.95
alpha = 1 - confidence_level

print(p_value)
print(alpha)

0.0013922864704323116
0.050000000000000044

In [20]:
#the p_value is smaller than the alpha so we can reject the null hypothesis